<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="eventlog" xsi:type="EventLog" source="FanFlow Starter" layout="${longdate}|${level:uppercase=true}|${logger}|${message}${newline}${exception:format=Message,StackTrace:innerFormat=Message,StackTrace}"/>
      <target name="file" xsi:type="File"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${newline}${exception:format=Message,StackTrace:innerFormat=Message,StackTrace}"
            fileName="${basedir}/logs/logfile.txt"
            archiveFileName="${basedir}/archives/log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="utf-8" />
    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
  </nlog>
  
  <startup> 
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
